__pycache__
*.mp4
*.avi
test.py
thread.py
video.py
deprecated
dataset/*
logs/*
training_images/*
pretrained/*
!pretrained/*_final_model
pretrained/*_final_model/*
!pretrained/*_final_model/test_config.py
!*.gitkeep